* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.login-container {
  min-height: 100vh;
  max-height: 100%;
  background-color: #121212;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #202020;
  padding: 30px 30px;
}

.form-container img {
  min-width: 60px;
  max-width: 100px;
  background-size: cover;
  margin: 0px 0px 8px 0px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 8px 0px 5px 0px;
  width: 100%;
}

.input-container label {
  color: #fff;
  font-weight: 400;
}

.input-container input {
  color: #fff;
  width: 100%;
  padding: 8px;
  border: 1px solid #4f46e5;
  border-radius: 5px;
  background-color: transparent;
}

.login-button {
  background-color: #6366f1;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin: 10px 0px;
  cursor: pointer;
}

.error-message {
  display: flex;
  color: #ff0b37;
  font-size: 12px;
  align-self: flex-start;
  font-weight: 400;
}
