.jobs-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0px;
}

.job-content-container {
  height: calc(100% - 60px);
  width: 100%;
  background-color: #000;
  display: flex;
  padding: 20px 30px;
  overflow: auto;
}

.left-side-container {
  width: 200px;
  height: 100%;
}

@media (max-width: 576px) {
  .left-side-container {
    display: none;
  }
}

@media (min-width: 576px) {
  .mobile-job-content-container {
    display: none;
  }
}

.right-side-container {
  width: calc(100% - 200px);
}
