.job-details-react-app {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

.job-details-container {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-description-container {
  margin: 30px;
  background-color: #202020;
  border-radius: 10px;
  padding: 20px;
}

.app-container {
  display: flex;
  align-items: center;
}

.rating-container {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.job-description {
  font-weight: 400;
  color: #fff;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.skills-image {
  width: 40px;
  height: 40px;
  background-size: cover;
}

.each-skill-container {
  margin: 0px 20px;
  display: flex;
  align-items: center;
}

.skill-name {
  color: #fff;
  font-weight: 500;
  padding: 0px 10px;
}

.life-at-company {
  display: flex;
}

.life-at-company-image {
  width: 150px;
  height: 150px;
  background-size: cover;
  padding: 0px 0px 0px 10px;
  border-radius: 10px;
}

.similar-jobs-heading {
  align-self: flex-start;
  color: #fff;
}

.similar-company-logo {
  width: 35px;
  height: 35px;
  background-size: cover;
}

.each-similar-jobs-container {
  background-color: #202020;
  border-radius: 10px;
  margin: 0px 5px;
  padding: 5px;
  width: 200px;
}

.image-title-container {
  display: flex;
  align-items: center;
}

.similar-job-description {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.footer {
  display: flex;
  align-items: center;
}

.location-type {
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
}
