.jobs-right-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.search-container {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: transparent;
  border: 1px solid #2c364c;
  border-radius: 5px;
}
.search-input {
  background-color: transparent;
  border: none;
  color: #fff;
  height: 100%;
  padding: 0px 5px;
}

.search-image {
  width: 30px;
  height: 100%;
  color: #fff;
  background-color: #7e858e;
}

.job-card-container {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
